# Public Read-Only Key for MuSiQue Benchmark (100 samples)
MYCELIUM_MUSIQUE_API_KEY=sk_live_benchmark_viewer_here

# Public Read-Only Key for HotpotQA Benchmark (Hard 100)
MYCELIUM_HOTPOT_API_KEY=sk_live_benchmark_viewer_here

OPENAI_API_KEY="your_openai_key_here"  # Required for vector embedding generation
PINECONE_API_KEY="your_pinecone_key_here" # Required if running the Pinecone baseline
